.container {
    max-width: 960px;
  }

/* nav style start */
.navbar{
  background-color: orange;
}

.navbar a{
  color: white;
}
.container-fluid button{
  color: white;
}
.nav-item ul{
  background-color: orange;
}
/* nav style end */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
/* Modal start */
#modalbutton{
  position: absolute;
  top: 85vh;
  left: 87vw;
  position: fixed;
  height: auto;
  width: auto;
  border-radius: 40rem;
  background: radial-gradient(circle, rgba(255,165,0,1) 16%, rgba(255,0,0,1) 100%);
}
/* Modal end */

/* footer start */
.footer{
  border-top: 2px solid orange;
  background-color:#fcde9c;
}
.bg_footer{
  background-image: url(/assest/page-1/footer-bottom.0bdcf963.png);
  background-repeat: no-repeat;
  background-position-y:bottom;
  background-size: 100vw;
}
/* footer end */
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}
/*Media query  */
@media (min-width:320px) and (max-width:480px) {
  /* to add */
  #small_screen_logo{
      width: 70vw;
  }
  /* to add */
}